# Python
venv/
__pycache__/
*.pyc

# Airflow
airflow.db
airflow.cfg
logs/
webserver_config.py
standalone_admin_password.txt

# Temporary / runtime
tmp/
.env
*.pid

# Output / data
output/
data/

# OS
.DS_Store
Thumbs.db